<div class="mt-4">
    <h3>Tạo khóa học</h3>


    <form method="post" action="/courses/store">
        <div class="form-group">
            <label>Tên khóa học</label>
            <input type="text" class="form-control" placeholder="Enter name course..." name="name">
        </div>

        <div class="form-group">
            <label>Mô tả khóa học</label>
            <input type="text" class="form-control" placeholder="Enter course description..." name="description">
        </div>

        <div class="form-group">
            <label>Link ảnh khóa học</label>
            <input type="text" class="form-control" placeholder="Enter link image..." name="image">
        </div>

        <div class="form-group">
            <label>Video ID</label>
            <input type="text" class="form-control" placeholder="Enter video ID..." name="videoId">
        </div>




        <button type="submit" class="btn btn-primary">Thêm khóa học</button>
    </form>
</div>